<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tablas</title>
</head>
<body>
    <h1>Tablas</h1>

    <table>
        <tr>
            <td>#</td>
            <td>Codigo</td>
            <td>Nombre</td>
        </tr>

        <tr>
            <td>1</td>
            <td>Ls58e</td>
            <td>Franklin Ulises Pinte</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Ls63e</td>
            <td>Elmer Galdamez</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Ls62e</td>
            <td>Katherine Estrada</td>
        </tr>
    </table>
    <br />

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Código</th>
                <th>Estudiante</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Ls58e</td>
                <td>Franklin Ulises Pinte</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Ls63e</td>
                <td>Elmer Galdamez</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Ls62e</td>
                <td>Katherine Estrada</td>
            </tr>

        </tbody>
    </table>

    <footer>
        Derechos reservados &copy; 2024
    </footer>

    <!--Direccionamiento-->
    <a href="../index.html">Regresar al Inicio</a>

</body>
</html>